@import '@/app/styles/constants.scss','@/app/styles/_layout.scss';

$product-card-background-color: #F9F0EE;
$category-name-color: #323351;

@mixin c-category-text {
  color: $category-name-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 22px;
  text-align: left;
  @include desktop-sm-only {
    margin-left: 0px;
  }
}

.l-flex {
  align-items: center;
  background-color: $product-card-background-color;
  display: flex;
  height: 115px;
  justify-content: space-between;
  padding: 22px 30px;
  @include desktop-sm-only {
    flex-direction: column;
    height: 510px;
    justify-content: space-around;
    width: 410px;
  }

}

.l-position-left {
  text-align: left;
}

.c-category-text {
  &__title {
    @include c-category-text;
    @include desktop-sm-only {
      margin: 0px;
      text-align: left;
      width: 100%;
    }
  }
  &__name {
    @include c-category-text;
    @include desktop-sm-only {
      margin: 14px 0 0;
      font-size: 36px;
      line-height: 35px
    }
  }
}